<div class="container">
    <div class="row">
        <div class="col">
            <div class="header">
                <h1 class="headering">Nutrition Search Result</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <h4 style="text-align: center;">Ingredients</h4>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Food</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of lsing;index as i;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{list}}</td>

                        </tr>

                    </tbody>
                </table>
                <div *ngIf="result" class="buttonsection btn-toolbar">
                    <div class="btn-toolbar pull-right">
                        <button type="button" class="btn btn-primary mr-3 butl" (click)="opendetaileddata()">Total
                            Nutrients</button>
                        <button type="button" class="btn btn-primary mr-3 butl" (click)="opendnutrfact()">Nutrients
                            Fact</button>

                    </div>

                </div>
            </div>
            <div class="row" *ngIf="result">
                <div class="col">
                    <div>
                        <table class="table table-bordered" *ngIf="showtotalnutridetails">
                            <thead>
                                <tr>
                                    <th colspan="4">
                                        <h4 style="text-align: center;">Total Nutrients Details</h4>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nutrients</th>
                                    <th scope="col">Total Nutrients quantity</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{totalNutrientsKCal.ENERC_KCAL['label']}}</td>
                                    <td>{{totalNutrientsKCal.ENERC_KCAL['quantity'] |number : '1.1-1'}}
                                        {{totalNutrientsKCal.ENERC_KCAL['unit']}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>{{totalNutrientsKCal.PROCNT_KCAL['label']}}</td>
                                    <td>{{totalNutrientsKCal.PROCNT_KCAL['quantity'] |number : '1.1-1'}}
                                        {{totalNutrientsKCal.PROCNT_KCAL['unit']}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>{{totalNutrientsKCal.FAT_KCAL['label']}}</td>
                                    <td>{{totalNutrientsKCal.FAT_KCAL['quantity'] |number : '1.1-1'}}
                                        {{totalNutrientsKCal.FAT_KCAL['unit']}}</td>

                                </tr>
                                <tr *ngIf="totalNutrientsKCal.CHOCDF_KCAL['label']">
                                    <th scope="row">4</th>
                                    <td>{{totalNutrientsKCal.CHOCDF_KCAL['label']}}</td>
                                    <td>{{totalNutrientsKCal.CHOCDF_KCAL['quantity'] |number : '1.1-1'}}
                                        {{totalNutrientsKCal.CHOCDF_KCAL['unit']}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <table class="table table-bordered" *ngIf="shownutrifacts">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h4 style="text-align: center;">Nutrients Facts</h4>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nutrients</th>
                                <th scope="col">Nutrients quantity</th>
                                <th scope="col">KCal quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row">1</th>
                                <td>{{totalNutrients.FAT['label']}}</td>
                                <td>{{totalNutrients.FAT['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.FAT['unit']}}</td>
                                <td>{{totalDaily.FAT['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>{{totalNutrients.FASAT['label']}}</td>
                                <td>{{totalNutrients.FASAT['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.FASAT['unit']}}</td>
                                <td>{{totalDaily.FASAT['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>{{totalNutrients.CHOLE['label']}}</td>
                                <td>{{totalNutrients.CHOLE['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.CHOLE['unit']}}</td>
                                <td>{{totalDaily.CHOLE['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>{{totalNutrients.NA['label']}}</td>
                                <td>{{totalNutrients.NA['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.NA['unit']}}</td>
                                <td>{{totalDaily.NA['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>{{totalNutrients.CHOCDF['label']}}</td>
                                <td>{{totalNutrients.CHOCDF['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.CHOCDF['unit']}}</td>
                                <td>{{totalDaily.CHOCDF['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr *ngIf="totalNutrients.FIBTG['label']">
                                <th scope="row">6</th>
                                <td>{{totalNutrients.FIBTG['label']}}</td>
                                <td>{{totalNutrients.FIBTG['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.FIBTG['unit']}}</td>
                                <td>{{totalDaily.FIBTG['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr *ngIf="totalNutrients.SUGAR['label']">
                                <th scope="row">7</th>
                                <td>{{totalNutrients.SUGAR['label']}}</td>
                                <td>{{totalNutrients.SUGAR['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.SUGAR['unit']}}</td>
                                <td></td>
                            </tr>
                            <tr *ngIf="totalNutrients.PROCNT['label']">
                                <th scope="row">8</th>
                                <td>{{totalNutrients.PROCNT['label']}}</td>
                                <td>{{totalNutrients.PROCNT['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.PROCNT['unit']}}</td>
                                <td>{{totalDaily.PROCNT['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr *ngIf="totalNutrients.VITA_RAE['label']">
                                <th scope="row">9</th>
                                <td>{{totalNutrients.VITA_RAE['label']}}</td>
                                <td>{{totalNutrients.VITA_RAE['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.VITA_RAE['unit']}}</td>
                                <td>{{totalDaily.VITA_RAE['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr *ngIf="totalNutrients.VITC['label']">
                                <th scope="row">10</th>
                                <td>{{totalNutrients.VITC['label']}}</td>
                                <td>{{totalNutrients.VITC['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.VITC['unit']}}</td>
                                <td>{{totalDaily.VITC['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr *ngIf="totalNutrients.CA['label']">
                                <th scope="row">11</th>
                                <td>{{totalNutrients.CA['label']}}</td>
                                <td>{{totalNutrients.CA['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.CA['unit']}}</td>
                                <td>{{totalDaily.CA['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr *ngIf="totalNutrients.FE['label']">
                                <th scope="row">12</th>
                                <td>{{totalNutrients.FE['label']}}</td>
                                <td>{{totalNutrients.FE['quantity'] |number : '1.1-1'}}
                                    {{totalNutrients.FE['unit']}}</td>
                                <td>{{totalDaily.FE['quantity'] |number : '1.0-0'}}%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td colspan="2">Calories</td>
                                <td> {{result.calories}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div>
</div>